<ion-content>
  <div class="register-container">
    <ion-row class="header">
      <ion-title size="large">Registro</ion-title>
    </ion-row>
    <ion-row class="form" justify-content-center (ngSubmit)="signup()">
      <ion-grid class="register">
        <ion-item class="input-item">
          <ion-input type="text" placeholder="Nombre" [(ngModel)]='name' id="name" name="name" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input type="email" placeholder="Email" name="user" [(ngModel)]='email'></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]='password'></ion-input>
        </ion-item>
        <ion-button expand="block" class="signup-button" (click)="signup()">Registrarse</ion-button>
      </ion-grid>
    </ion-row>
    <ion-row class="login-link" justify-content-center>
      <ion-col size="auto">
        <ion-text color="medium">¿Ya tienes cuenta?</ion-text>
        <ion-button fill="clear" routerLink=''>Inicia sesión</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
