<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Pokémon</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pokemon of pokemones">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pokemon.nombre_pkmn }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table>
              <tr>
                <td>Tipo 1:</td>
                <td>{{ pokemon.tipo1 }}</td>
              </tr>
              <tr>
                <td>Tipo 2:</td>
                <td>{{ pokemon.tipo2 }}</td>
              </tr>
              <tr>
                <td>Movimiento 1:</td>
                <td>{{ pokemon.mov1 }}</td>
              </tr>
              <tr>
                <td>Movimiento 2:</td>
                <td>{{ pokemon.mov2 }}</td>
              </tr>
              <tr>
                <td>Movimiento 3:</td>
                <td>{{ pokemon.mov3 }}</td>
              </tr>
              <tr>
                <td>Movimiento 4:</td>
                <td>{{ pokemon.mov4 }}</td>
              </tr>
              <tr>
                <td>Ruta de captura:</td>
                <td>{{ pokemon.ruta }}</td>
              </tr>
            </table>
          </ion-card-content>
          <ion-button
            (click)="eliminarPokemon(pokemon.id_pkmn)"
            shape="round-10"
            fill="clear"
            color="danger"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
